<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Jouw top 10 relevante opdrachten</h1>
    <p>
      Op basis van jouw <a href="#">voorkeuren</a> tonen we de meest relevante opdrachten. Indien je interesse hebt, klik dan op de knop "Ik heb interesse!".
      De organisatie zal op de hoogte gebracht worden van jouw interesse en je contact gegevens worden kenbaar gemaakt.
    </p>
  </div>
</div>
<div class="opportunities">
<% @opportunity_scores.each do |opportunity_score| %>
  <% opportunity = opportunity_score.opportunity %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 opportunity">
      <h3>
        <%=opportunity.title%>
        <% opportunity_score.stars.times do %>
          <%= '&#9733;'.html_safe %> <!-- star !-->
        <% end %>
        <% if opportunity.liked_by(@developer) %><%= '&#128077'.html_safe %> <% end %>
        <span class="pull-right period">
          <p><%= '&#10144;'.html_safe%> <%= l(opportunity.start_date, format: :datepicker) %></p>
          <% if opportunity.end_date.blank? %>
            <%= '&#127937;'.html_safe %> ??-??-????
          <% else %>
            <%= '&#127937;'.html_safe%> <%= l(opportunity.end_date, format: :datepicker) %>
          <% end %>
        </span>
      </h3>
      <p>
        <%= opportunity.teaser %>
      </p>
      <div class="text-center">
        <% if @developer.can_like? %>
          <% unless opportunity.liked_by(@developer) %>
            <%= link_to("&#128077; Ik heb interesse".html_safe , like_opportunity_path(opportunity), method: :post, class: "btn btn-primary btn-lg") %>
          <% end %>
        <% else %>
          <span class="button btn-default disabled">Like!</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
