<div class="row">
  <div class="jumbotron text-center">
    <h1>Jouw relevante opdrachten</h1><br/>
    <h2>Op basis van jouw <%= link_to "voorkeuren", root_path %></h2>
  </div>
</div>
<div class="opportunities">
<% @opportunity_scores.each do |opportunity_score| %>
  <% opportunity = opportunity_score.opportunity %>
  <% next if opportunity.disliked_by(@developer) %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 opportunity">
      <h3>
        <p>
        <%=opportunity.title%> bij <%= opportunity.organisation.name %>
        </p>

        <p>
        <% opportunity_score.stars.times do %>
          <%= '&#9733;'.html_safe %> <!-- star !-->
        <% end %>
        <% if opportunity.liked_by(@developer) %>
          <%= '&#128077'.html_safe %>
          op
          <%= l(opportunity_score.created_at, format: :long_with_time) %>
        <% end %>

        <span class="pull-right period">
          <p><%= '&#10144;'.html_safe%> <%= l(opportunity.start_date, format: :datepicker) %></p>
          <% if opportunity.end_date.blank? %>
            <%= '&#127937;'.html_safe %> ??-??-????
          <% else %>
            <%= '&#127937;'.html_safe%> <%= l(opportunity.end_date, format: :datepicker) %>
          <% end %>
        </span>
      </h3>
      <p><strong>Vaardigheden:</strong>
        <% skills = Skill.to_array(opportunity.skills) %>
        <% skills.each_with_index do |skill, index| %>
          <span><em><%=skill%></em></span>
          <% unless index == skills.size - 1 %>
            ,
          <% end %>
        <% end %>
      </p>
      <p>
        <%= simple_format(truncate(opportunity.teaser, length: 255)) %>
      </p>
      <div class="text-center">
        <% if @developer.can_like? %>
          <% unless opportunity.reacted_by(@developer) %>
            <%= link_to("ik heb interesse".html_safe , like_opportunity_path(opportunity), method: :post, class: "btn btn-primary btn-lg") %>
            <%= link_to("geen interesse".html_safe , dislike_opportunity_path(opportunity), method: :post, class: "btn btn-danger btn-lg") %>
          <% end %>
        <% else %>
          <span class="button btn-default disabled">Like!</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
