<div class="page-developers">
  <div class="profiel">
    <h3><%= @developer.first_name %> <%= @developer.last_name %></h3>
    <p>
      <%= @developer.pitch %>
    </p>
    <h3>Beschikbaar per</h3>
    <p>
      <%= @developer.available %>
    </p>
    <h3>Skills</h3>
    <p>
      <%= @developer.skills %>
    </p>
  </div>
  <div class="feed">
    <h3>Voor jou relevant</h3>
    <table class="opportunities">
      <thead>
        <tr>
          <th>Titel</th>
          <th>Start</th>
          <th>Einde</th>
          <th>Acties</th>
        </tr>
      </thead>
      <tbody>
    <% @opportunities.each do |opportunity| %>
        <tr class="opportunity">
          <td><%= opportunity.title %></td>
          <td><%= l(opportunity.start_date, format: :datepicker) %></td>
          <td><%= l(opportunity.end_date, format: :datepicker) %></td>
          <td>
            <p>
            <% unless opportunity.liked_by(@developer) %>
              <%= link_to("Like!", like_opportunity_path(opportunity), method: :post, class: "button secondary") %>
            <% else %>
              <span class="button ternary bordered">Liked!</span>
            <% end %>
            </p>
          </td>
        </tr>
    <% end %>
      </tbody>
    </table>
  </div>
</div>
