<div class="page-developers">
  <div class="profiel">
    <h3><%= @developer.first_name %> <%= @developer.last_name %></h3>
    <p>
      <%= @developer.pitch %>
    </p>
    <h3>Beschikbaar per</h3>
    <p>
      <%= @developer.available %>
    </p>
    <h3>Skills</h3>
    <p>
      <%= @developer.skills %>
    </p>
  </div>
</div>
