<div class="row">
  <div class="jumbotron text-center">
    <h1>Duurzaam ondernemen begint hier</h1>
    <br/>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @validatable %>
          <em>(Minimaal <%= @minimum_password_length %> tekens)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Aanmelden", class: "btn btn-primary form-control" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
