<h3>Opdrachten</h3>
<% if @organisation.opportunities.any? %>
  <% @organisation.opportunities.each do |opportunity| %>
    <p>
      <%= opportunity.title %> (<strong><%= opportunity.likes.count %> hebben
      interesse</strong>)
      <% opportunity.likes.each do |like| %>
      <p>
        <%= like.role.name %> - beschikbaar per <%= like.role.available %>
      </p>
    <% end %>
    </p>
  <% end %>
<% else %>
  <p>
    <%= link_to "Voeg opdracht toe", new_opportunity_path, class: "button primary" %>
  </p>
<% end %>
