<div class="row text-center">
  <h1>Jouw opdrachten</h1><br/>
    <%= link_to "plaats nieuwe opdracht", new_opportunity_path, class: "btn btn-primary btn-lg" %><br/>
  <br/>
</div>

<div class="row">
  <div class="opportunities">
    <% @opportunities.each do |opportunity| %>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 opportunity">
          <h3>
            <%=opportunity.title%>&nbsp;<%= link_to "Wijzigen", edit_opportunity_url(opportunity.id), class: "btn btn-info" %>
            <%= link_to(opportunity_url(opportunity.id), class: "btn btn-warning", method: :delete, data: {confirm: "Weet je zeker dat je de opdracht ''#{opportunity.title}'' wil sluiten? Je kunt de opdracht niet meer heropenen."}) do %>
              <span class="glyphicon glyphicon-trash"></span>
              sluiten
            <% end %>
            <span class="pull-right period">
              <p><%= '&#10144;'.html_safe%> <%= l(opportunity.start_date, format: :datepicker) %></p>
              <% if opportunity.end_date.blank? %>
                <%= '&#127937;'.html_safe %> ??-??-????
              <% else %>
                <%= '&#127937;'.html_safe%> <%= l(opportunity.end_date, format: :datepicker) %>
              <% end %>
            </span>
          </h3>
          <p>
            <strong>Vaardigheden:</strong>
            <% skills = Skill.to_array(opportunity.skills) %>
            <% skills.each_with_index do |skill, index| %>
              <span><em><%=skill%></em></span>
              <% unless index == skills.size - 1 %>
                ,
              <% end %>
            <% end %>
          </p>
          <% if opportunity.reactions.count > 0 %>
            <strong>
              <%=opportunity.reactions.count%> developer(s) hebben reacties gegeven
            </strong>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  $("[data-role='skills']").tokenfield();
</script>

