<div class="page-organisations">
  <div class="profiel">
    <h3><%= @organisation.name %></h3>
    <p>
      <%= @organisation.pitch %>
    </p>
    <h3>Skills</h3>
    <p>
      <%= @organisation.skills %>
    </p>
  </div>
  <div class="opportunities">
    <h3>Opdrachten</h3>
    <% if @organisation.opportunities.any? %>
      <% @organisation.opportunities.each do |opportunity| %>
        <p>
          <%= opportunity.title %> (<%= opportunity.likes.count %> likes)
        </p>
      <% end %>
    <% else %>
      <p>
        <%= link_to "Voeg opdracht toe", new_opportunity_path, class: "button primary" %>
      </p>
    <% end %>
  </div>
</div>
