<div class="page-aanmelden">
  <h1>Organisatie</h1>
  <p>
    Vul hier hoe je organisatie heet. Wat je vooral doet en in welke skills je <em>altijd</em> interesse hebt.
  </p>
  <%= form_for @organisation do |f| %>
    <%= f.error_messages %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :pitch %><br />
      <%= f.text_area :pitch, cols: 75, rows: 4 %>
    </div>
    <div class="field">
      <%= f.label :skills %><br />
      <%= f.text_field :skills %>
    </div>

    <div class="actions">
      <%= f.submit "Opslaan", class: 'btn btn-primary' %>
    </div>
  <% end %>

</div>
