<div class="row">
  <div class="jumbotron text-center">
    <h1>Inloggen</h1>
    <br/>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <%= f.submit 'Log in', class: "btn btn-primary form-control" %>
    <% end %>
  </div>
</div>
<div class="row">
    <div class="col-md-offset-4 col-md-2">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <p>
        <%= link_to "Nieuw account aanmaken", new_registration_path(resource_name), class: "text-normal-size" %><br />
      </p>
    <% end -%>
    </div>

    <div class="col-md-2">
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <p>
        <%= link_to "Wachtwoord vergeten?", new_password_path(resource_name), class: "text-normal-size pull-right" %><br />
      </p>
    <% end -%>
    </div>
</div>
