<!DOCTYPE html>
<html>
<head>
  <title>Regexed - Simpel netwerken</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page-header">
  <ul>
    <li><%= link_to('Home', root_path) %> </li>
    <li>
      <% if user_signed_in? %>
        <%= link_to('Uitloggen', destroy_user_session_path, :method => :delete) %>
      <% else %>
        <%= link_to('Inloggen', new_user_session_path)  %>
      <% end %>
    </li>
  </ul>
  <div style="clear: both"></div>
</div>
<div class="centered">
  <% if notice %> <p class="notice"><%= notice %></p> <% end %>
  <% if alert %> <p class="alert"><%= alert %></p><% end %>
</div>

<%= yield %>

</body>
</html>
