<!DOCTYPE html>
<html>
<head>
  <title>Regexed - Simpel netwerken</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<script>
  $(function() {
    $('.notice').delay(5000).fadeOut(400)
    $('.alert').delay(5000).fadeOut(400)
  });
</script>
<body>

<div class="page-header">
  <ul class="regexed">
    <li>
      Regexed
    </li>
  </ul>
  <ul>
    <% if user_signed_in? %>
      <li>
        <% if current_user.developer? %>
          <%= link_to('Feed', developers_path, class: "button ternary bordered")  %>
        <% elsif current_user.organisation? %>
          <%= link_to('Feed', organisations_path, class: "button ternary bordered") %>
        <% end %>
      </li>
      <% if current_user.organisation? %>
        <li>
          <%= link_to('Plaats opdracht', new_opportunity_path, class: "button secondary bordered") %>
        </li>
      <% end %>
      <li>
        <% if current_user.developer? %>
          <%= link_to('Profiel', edit_developer_path(current_user.role_developer), class: "button ternary bordered") %>
        <% elsif current_user.organisation? %>
          <%= link_to('Profiel', edit_organisation_path(current_user.role_organisation), class: "button ternary bordered") %>
        <% end %>
      </li>
    <% end %>
    <% if user_signed_in? %>
    <li>
      <%= link_to('&#128275; Uitloggen'.html_safe, destroy_user_session_path, :method => :delete, class: "button ternary bordered") %>
    <% else %>
      <%= link_to('&#128274; Inloggen'.html_safe, new_user_session_path, class: "button ternary bordered")  %>
    </li>
    <% end %>
    <li>

    </li>
  </ul>
  <div style="clear: both"></div>
</div>
<div class="centered">
  <% if notice %> <p class="notice"><%= notice %></p> <% end %>
  <% if alert %> <p class="alert"><%= alert %></p><% end %>
</div>

<%= yield %>

</body>
</html>
